$trigger-screen: 700px;

html, body{
    padding: 0;
    margin: 0;

}
#logo{
    position: fixed;
    width: 70px;
    padding: 20px;

}

// nav{
//     position: relative;


//     .menu{
//         position: absolute;
//         z-index: 10;
//         background-color: red;
//         width: 100vw;
//         height: 100vh;

//         ul{
//             list-style-type:none;
//             display: flex; 
//             li{
//                 padding: 10px;
//             }
            
//         }
//     }
    
// }

.article1{
    width: 100vw;
    svg{
        width: 100%;
    }
    @media screen and (max-width: $trigger-screen){
        .lg{
            display:none;
        }
    }
    @media screen and (min-width: $trigger-screen){
        .mobile{
            display:none;
        }
    }
    
}